
{%extends "layout.html"%}
{% block content %}
<div class='game'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src='/static/refresh.js'></script>
  <div id='paquets'>
    <a id='draw'><!--href="{{url_for('draw')}}"-->
      <div id='paquet' class='paquet'>
        <img id='imgpaquet' src='/static/cards/PNG/Cards/cardBack_red5.png'/>
        <div id='paquetcompteur' class='compteur'>{{compteur}}</div>
      </div>
    </a> 
    <a><!--<a href="{{url_for('vider')}}">-->
      <div class="paquet">
        <img id='imgtrash' src='/static/cards/PNG/Cards/cardBack_blue5.png'/>
        <div id='trashcompteur' class='compteur'>{{def_compteur}}</div>
      </div>
    </a>
  </div>

    <div id='defausse'></div>

    <!--
    {%for i in range(0,len)%}
    <img src="/static/cards/PNG/Cards/{{defausse[i]}}"/>
    {%endfor%}-->

</div>
{%endblock%}