
{%extends "layout.html"%}
{% block content %}
<div class='game'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--<script src='/static/refresh.js'></script>-->
  <div id='paquets'>
    
    {%block scripts%}
    <script src='/static/{{scripts}}'>Script not found !!</script>
    <script id='script'>    
    $(document).ready(function() {

      function tirer(){
          $.get("/draw",
            "move="+$(this).attr('move'),
            function(data, status){
              $('#defausse').html(data.split(',')[1]);
              $('#paquetcompteur').html((parseInt($('#paquetcompteur').html())-1).toString());
              spec_update(data)
  
          });
      }
  
      function vider(){
          //alert('ok');
          $.get("/vider/", function(data, status){
              $('#defausse').html('');
              $('#trashcompteur').html(data);
          });
      }
  {%for i in range(0,len)%}
    $('#img{{controls[i][0]}}').bind('click',{{controls[i][2]}});
    //$(document).on('click', '#img{{controls[i][0]}}', {{controls[i][2]}});
  {%endfor%}
  });

</script>

    {%endblock%}
    <div id='msg' class='paquet'></div>
    {%for i in range(0,len)%}
    
      <div id='{{controls[i][0]}}' class='paquet'>
        <img id="img{{controls[i][0]}}"  src={{controls[i][1]}} move='{{controls[i][3]}}'/>
        <div id='{{controls[i][0]}}compteur' class='compteur'>0</div>
      </div>
    {%endfor%}
  </div>

    <div id='defausse'></div>



</div>
{%endblock%}